<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ndr_label_label_listing_data_source" xsi:type="string">Ndr\Label\Model\ResourceModel\Label\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Ndr\Label\Model\ResourceModel\Label\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">ndr_product_label</argument>
            <argument name="eventPrefix" xsi:type="string">ndr_label_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">ndr_label_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ndr\Label\Model\ResourceModel\Label</argument>
        </arguments>
    </type>
    <virtualType name="ndr_label_grid_data_provider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                Ndr\Label\Model\ResourceModel\Label\Collection
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ndr\Label\ReferenceImageUpload" type="Ndr\Label\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">ndr/tmp/label_image</argument>
            <argument name="basePath" xsi:type="string">ndr/label_image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ndr\Label\Controller\Adminhtml\Feature\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Ndr\Label\ReferenceImageUpload</argument>
        </arguments>
    </type>
</config>
